.DS_Store
.venv/
examples/session1/java/target
examples/session1/java/.classpath
examples/session1/java/.project
examples/session1/java/.settings/org.eclipse.core.resources.prefs
examples/session1/java/.settings/org.eclipse.jdt.apt.core.prefs
examples/session1/java/.settings/org.eclipse.jdt.core.prefs
examples/session1/java/.settings/org.eclipse.m2e.core.prefs
output/
examples/session3/hello/java/*.class
